/* *, .container{
    background-color: rgb(10, 82, 10)!important;
} */

.SelectionQueue{
    background-color: rgb(175, 212, 175)!important;
    width: fit-content;
    padding: 5rem;
}

.nftCount{
    margin-left: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button{
    border: none;
}

.bounce-btn{
    margin: 2rem 0;
}

/* animation */
@keyframes bounce{
    0%, 25%, 50%, 75%, 100%{
      transform: translateY(0);
   }
    35%{
      transform: translateY(-30px);
   }
    55%{
      transform: translateY(-15px);
   }
  }
  
  .bounce{
   animation: bounce 1s;
  }