/* *, .container{
    background-color: rgb(10, 82, 10)!important;
} */

.SelectionQueue{
    background-color: rgb(175, 212, 175)!important;
    width: fit-content;
    padding: 5rem;
}

.nftCount{
    margin-left: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button{
    border: none;
}

.bounce-btn{
    margin: 2rem 0;
}

/* animation */
@keyframes bounce{
    0%, 25%, 50%, 75%, 100%{
      transform: translateY(0);
   }
    35%{
      transform: translateY(-30px);
   }
    55%{
      transform: translateY(-15px);
   }
  }
  
.bounce{
    animation: bounce 1s;
}

@keyframes singleBounce{
    0% { transform: translateY(0); }
    15% {transform: translateY(3px); }
    90% { transform: translateY(-3px); }
    100% { transform: translateY(-4px); }
  }
  
.single-bounce{
    animation: singleBounce 0.2s;
}

@keyframes superBounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}
  
.superBounce{
    animation: superBounce 0.5s;
}


@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-1px);}
    20%, 40%, 60%, 80% {transform: translateX(1px);}
}

.shake{
    animation: shake 0.5s;
  }